{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}
<div class="container login-body" style="width: 600px; margin-top: 150px">

    <div class="login-form">
        <form action="#" method="POST">
            {%csrf_token%}

            {{form|crispy}}
            <div >
                <button id="login-button" type="submit" class="btn btn-outline-success btn-block">Login</button>
            </div>
        </form>
        <small class="text-muted" style="margin-top: 10px;">
        Belum punya akun? <a class="ml-2" href="{% url 'Auth:signup' %}" style="">Sign up</a>
        </small>
    </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}
