{% extends 'base1.html' %}

{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}

<div class="container logout-body">

	<blockquote class="blockquote text-center">
	  <p class="mb-0" style="margin-top: 250px">Logged out!</p>
	</blockquote>

	<div class="container login-button" style="width: 300px">
		<form action="{% url 'Auth:login' %}">
		    <button id="login-button" type="submit" class="btn btn-outline-primary btn-block">Login Page</button>
		</form>
	</div>
</div>

{% endblock %}

{% block script %} 
{% endblock %}
