{% extends 'base.html' %}
{% load static %}

{% block meta %}
<style>
    body {
        background-color: #5CDB95;
    }

    .outer {
        margin-right: 20%;
        margin-left: 20%;
        margin-top: 1.7rem;
        padding: 3rem;
    }

    .searchbox {
        margin-bottom: 3.6rem;
    }

    #searchbox {
        width: 97%;
        height: 2.5rem;
        font-size: 20px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .book-list{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    table {
        width: 100%;
    }

    #tablebody td, #tablehead th {
        border: 3px solid #05386B;
        padding: 8px;
    }

    #tablehead tr {background-color: darkgray;}

    #tablebody tr:nth-child(even){background-color: #f2f2f2;}

    #tablebody tr:hover {background-color: #ddd;}


</style>
<title>PPW Story 8</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <h1 style="align-self: center; color: #05386B;">Story 8 PPW</h1>
</div>
<div class="outer">
    <div class="searchbox">
        <input id="searchbox" type="text" placeholder="Cari buku" style="background-color: #EDF5E1;">
    </div>
    <div class="book-list">
        <table style="background-color:#EDF5E1;">
            <thead id="tablehead">
                <tr>
                    <th>
                        Photo
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Publisher
                    </th>
                </tr>
            </thead>
            <tbody id="tablebody">

            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript">
    $(document).ready( function() {
        var url = "/query?query=harry potter";
        $.ajax({
            url: url,
            success: function(args) {
                for (let i = 0; i < args.length; i++) {
                    const element = args[i];
                    console.log(element)
                    var tr = $("<tr></tr>");
                    var thumbnail = element.thumbnail;
                    var title = element.title;
                    tr.append(`<td><img src=${thumbnail}></td><td>${title}</td>`);
                    var authors = element.author;
                    var gogo = $("<td></td>");
                    if (authors.length < 2) {
                        gogo.append(`${authors[0]}`);
                    } else {
                        gogo.append("<ul>");
                        for (let j = 0; j < authors.length; j++) {
                            const author = authors[j];
                            gogo.append(`<li>${author}</li>`);
                        }
                        gogo.append("</ul>");
                    }
                    tr.append(gogo);
                    var publisher = element.publisher;
                    tr.append(`<td>${publisher}</td>`)
                    $(".book-list > table > tbody").append(tr);
                }
            }
        })
    });

    $("#searchbox").keyup( function() {
        var keyword = $("#searchbox").val();
        var url = "/query?query=" + keyword;
        $.ajax({
            url: url,
            success: function(args) {
                $(".book-list > table > tbody").empty();
                for (let i = 0; i < args.length; i++) {
                    const element = args[i];
                    console.log(element)
                    var tr = $("<tr></tr>");
                    var thumbnail = element.thumbnail;
                    var title = element.title;
                    tr.append(`<td><img src=${thumbnail}></td><td>${title}</td>`);
                    var authors = element.author;
                    var gogo = $("<td></td>");
                    if (authors.length < 2) {
                        gogo.append(`${authors[0]}`);
                    } else {
                        gogo.append("<ul>");
                        for (let j = 0; j < authors.length; j++) {
                            const author = authors[j];
                            gogo.append(`<li>${author}</li>`);
                        }
                        gogo.append("</ul>");
                    }
                    tr.append(gogo);
                    var publisher = element.publisher;
                    tr.append(`<td>${publisher}</td>`)
                    $(".book-list > table > tbody").append(tr);
                }
            }
        })
    });
</script>
{% endblock script %}